<div id="dashboard-page" layout="column" >
    <h1>Edit Account Information</h1>

    <md-content>

        <div layout layout-sm="column">
            <md-input-container flex>
                <label for="fName">First Name</label>
                <input id="fName" type="text" contentEditable="true" ng-model="user.fName" />
            </md-input-container>
            <md-input-container flex>
                <label for="lName">Last Name</label>
                <input id="lName" type="text" contentEditable="true" ng-model="user.lName" />
            </md-input-container>
        </div>

        <div layout layout-sm="column">
            <md-input-container flex>
                <label for="title">Title</label>
                <input id="title" type="text" contentEditable="true" ng-model="user.title" />
            </md-input-container>
            <md-input-container flex>
                <label for="company">Company</label>
                <input id="company" type="text" contentEditable="true" ng-model="user.company" />
            </md-input-container>
        </div>

        <div layout layout-sm="column">
            <md-input-container flex>
                <label for="zip">Zip:</label>
                <input id="zip" type="text" contentEditable="true" ng-model="user.zip" />
            </md-input-container>
            <md-input-container flex>
                <label for="email">Email:</label>
                <input id="email" type="text" contentEditable="true" ng-model="user.email" />
            </md-input-container>
        </div>

        <div layout layout-sm="column">
            <md-input-container flex>
                <label for="password">Password:</label>
                <input id="password" type="text" contentEditable="true" ng-model="user.password" />
            </md-input-container>
            <md-input-container flex>
                <label for="re_password">Re-enter Password:</label>
                <input id="re_password" type="text" contentEditable="true" ng-model="user.re_password" />
            </md-input-container>
        </div>

        <div layout layout-sm="column">
            <md-input-container>
                <md-button class="md-raised md-primary">Save user changes
                </md-button>
            </md-input-container>
        </div>

    </md-content>
</div>