<div class="content-layout" id="edit-page" layout="column" ng-controller="editAccountCtrl" ng-cloak>
    <form name="editAccountForm" novalidate>
        <!-- Account Information -->
        <h1>Edit User Account</h1>
        <md-content layout="row" layout-md="column">
            <md-input-container flex>
                <label>First Name</label>
                <input ng-model="user.first_name">
            </md-input-container>
            <md-input-container flex>
                <label>Last Name</label>
                <input ng-model="user.last_name">
            </md-input-container>
        </md-content>
        <md-input-container flex>
            <label>Email</label>
            <input ng-model="user.email" type="email" required>
        </md-input-container>
        <md-input-container flex>
            <label>Company Name</label>
            <input ng-model="user.company_name">
        </md-input-container>
        <md-input-container flex>
            <label>Title</label>
            <input ng-model="user.title">
        </md-input-container>
        <md-input-container flex>
            <label>Zip/Postal Code</label>
            <!-- Should Validate for US and Canadian zip/postal codes-->
            <input ng-model="user.zip_code" ng-pattern="/(\d{5}|[A-Z]\d[A-Z] ?\d[A-Z]\d)/" name = "zipCode" required>
            <div ng-messages="editAccountForm.zipCode.$error" role="alert">
                <div ng-message="pattern">US or Canadian zip code formats only</div>
            </div>
        </md-input-container>

        <!-- User Login Credentials -->
        <md-input-container flex>
            <label>Username</label>
            <input ng-model="user.username" type="string">
        </md-input-container>
        <md-input-container flex>
            <label>Change Password</label>
            <input ng-model="user.password" type="password" name="password" ng-pattern="/(?=.*[0-9]){8,}/">
            <div ng-messages="editAccountForm.password.$error" role="alert">
                <div ng-message="pattern">Password must be minimum of 8 characters with at least one number.</div>
            </div>
        </md-input-container>
        <md-input-container flex>
            <label>Confirm Password</label>
            <input ng-model="user.confirmPassword" type="password" data-match="editAccountForm.password"  name="confirmPassword" ng-pattern="/(?=.*[0-9]){8,}/">
            <div ng-messages="editAccountForm.confirmPassword.$error" role="alert">
                <div ng-message="match">Passwords do not match!</div>
            </div>
        </md-input-container>

        <md-button class="md-accent md-raised" ng-click="updateUserInfo()" type="submit" value="Save">Save</md-button>
    </form>
</div>

