<div ng-hide="ctrl.isLoggedIn">
    <h1>Admin Login</h1>
    <form ng-submit="ctrl.adminTest()" name="loginForm">
        <md-content>
            <md-input-container>
                <label>Username</label>
                <input ng-model="form.username" type="string" required>
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <input ng-model="form.password" type="password" required>
            </md-input-container>
            <div id="submit-buttons">
                <md-button class="md-accent md-raised" value="Submit" ng-disabled="loginForm.$invalid">Submit</md-button>
            </div>
        </md-content>
    </form>
</div>
<div ng-show="ctrl.isLoggedIn">
    <table>
        <tr>
            <th>Material</th>
            <th>Email</th>
            <th>Notes</th>
            <th>Button</th>
        </tr>
        <tr ng-repeat="suggestion in ctrl.suggestions">
            <td>{{suggestion.material}}</td>
            <td>{{suggestion.email}}</td>
            <td>{{suggestion.notes}}</td>
            <td ng-click="ctrl.markComplete( suggestion )"><button>Done</button></td>
        </tr>
    </table>
</div>

<div ng-show="ctrl.isLoggedIn" class="block row">
    <div class="title"><h4>Select your CSV file: </h4></div>
    <div class="block right">
        <ng-csv-import
                class="import"
                content="csv.content"
                header="csv.header"
                header-visible="csv.headerVisible"
                separator="csv.separator"
                separator-visible="csv.separatorVisible"
                result="csv.result"
                encoding="csv.encoding"
                encoding-visible="csv.encodingVisible"></ng-csv-import>
    </div>
    <button ng-click="ctrl.submitCSV()">Submit</button>
</div>
