<div ng-hide="ctrl.isLoggedIn">
    <h1>Admin Login</h1>
    <form ng-submit="ctrl.adminTest()" name="loginForm" novalidate>
        <md-content>
            <md-input-container>
                <label>Username</label>
                <input ng-model="ctrl.form.username" type="string" required>
            </md-input-container>
            <md-input-container>
                <label>Password</label>
                <input ng-model="ctrl.form.password" type="password" required>
            </md-input-container>
            <div id="submit-buttons">
                <md-button class="md-accent md-raised" value="Submit" ng-disabled="loginForm.$invalid">Submit</md-button>
            </div>
        </md-content>
    </form>
</div>
<div ng-show="ctrl.isLoggedIn">
    <table>
        <tr>
            <th>Material</th>
            <th>Email</th>
            <th>Notes</th>
            <th>Button</th>
        </tr>
        <tr ng-repeat="suggestion in ctrl.suggestions">
            <td>{{suggestion.material}}</td>
            <td>{{suggestion.email}}</td>
            <td>{{suggestion.notes}}</td>
            <td ng-click="ctrl.markComplete( suggestion )"><button>Done</button></td>
        </tr>
    </table>
</div>