<div id="calculator-page">
    <div ng-controller="calculateCtrl as ctrl" layout="column" ng-cloak>
        <h2>Calculate Your CO2 Offset</h2>
        <!-- New Project Info -->

        <md-content layout="row" layout-sm="column">
            <div>

                <!-- Autocomplete -->
                <!--<md-content class="md-padding" layout-padding layout="row" layout-sm="column" flex>-->
                <md-autocomplete
                        md-selected-item="ctrl.category"
                        md-selected-item-change="ctrl.selectedItemChange(item)"
                        md-search-text="ctrl.searchText"
                        md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                        md-items="item in ctrl.querySearch(ctrl.searchText)"
                        md-item-text="item.primary_cat"
                        md-min-length="0"
                        placeholder="Material type">
                    <md-item-template>
                        <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">{{item.primary_cat}}</span>
                    </md-item-template>
                    <md-not-found>
                        No matches found for "{{searchText}}".
                    </md-not-found>
                </md-autocomplete>
                <!--</md-content>-->
                <span flex></span>
                <md-input-container ng-show="ctrl.category.secondaries[0].secondary_cat != null">
                    <md-select id="secondary-margin" ng-model="ctrl.warmId" placeholder="Subcategory">
                        <md-option ng-repeat="subcategory in ctrl.category.secondaries" ng-value="subcategory.warm_id" >
                            {{subcategory.secondary_cat}}
                        </md-option>
                    </md-select>
                </md-input-container>
                <div layout layout-sm="column">
                    <md-input-container flex>
                        <label>Weight</label>
                        <input ng-model="ctrl.weight" type="text">
                    </md-input-container>
                    <md-select ng-model="ctrl.conversion" placeholder="Select units" flex>
                        <md-option ng-repeat="unit in ctrl.units" ng-value="unit.conversion" > {{ unit.name }}
                        </md-option>
                    </md-select>
                </div>


                <md-button class="md-accent md-raised" ng-click="ctrl.newCalculation()" type="submit" value="Save">Submit</md-button>

                <p ng-show="ctrl.result">Your Estimated CO2 Offset is {{ctrl.result}} metric tons.</p>

            </div>
        </md-content>
    </div>
</div>