<!--<div ng-controller="calculateCtrl">-->
<!--<md-content>-->
<!--<h1 class="md-title">Reuse Calculator</h1>-->
<!--<form name="calcForm">-->
<!--<div layout="row">-->
<!--<h2 class="md-title">Choose Material: </h2>-->
<!--<md-input-container>-->
<!--<label>Major Category</label>-->
<!--<md-select ng-model="major">-->
<!--<md-option ng-repeat="major in majors" value="{{major}}">{{major}}</md-option>-->
<!--</md-select>-->
<!--</md-input-container>-->
<!--<md-input-container>-->
<!--<label>Sub Category</label>-->
<!--<md-select ng-model="sub">-->
<!--<md-optgroup label="Optional Group 1">-->
<!--<md-option ng-repeat="sub in subs | filter: {group: 'group1'}" ng-value="sub.material">{{sub.material}}</md-option>-->
<!--</md-optgroup>-->
<!--<md-optgroup label="Optional Group 2">-->
<!--<md-option ng-repeat="sub in subs | filter: {group: 'group2'}" ng-value="sub.material">{{sub.material}}</md-option>-->
<!--</md-optgroup>-->
<!--</md-select>-->
<!--</md-input-container>-->
<!--</div>-->

<!--<div layout="row">-->
<!--<h2 class="md-title">Enter Weight: </h2>-->
<!--<md-input-container>-->
<!--<label>Weight</label>-->
<!--<input ng-model="weight" type="text" required>-->
<!--</md-input-container>-->
<!--<md-input-container>-->
<!--<label>Unit</label>-->
<!--<md-select ng-model="unit">-->
<!--<md-option ng-repeat="unit in units" value="{{unit}}">{{unit}}</md-option>-->
<!--</md-select>-->
<!--</md-input-container>-->
<!--</div>-->
<!--<div>-->
<!--<p ng-if="sub && weight">You saved {{calculation}} of CO2 emissions!</p>-->
<!--</div>-->
<!--</form>-->
<!--</md-content>-->
<!--</div>-->


<div ng-controller="calculateCtrl" layout="column" ng-cloak>
    <h2>Calculate Your CO2 Offset</h2>
    <!-- New Project Info -->

    <md-content class="md-padding" layout-padding layout-fill layout="row" layout-sm="column">
        <div>

            <!-- Autocomplete -->
            <!--<md-content class="md-padding" layout-padding layout="row" layout-sm="column" flex>-->
            <md-autocomplete
                    md-selected-item="category"
                    md-search-text="searchText"
                    md-items="item in querySearch(searchText)"
                    md-item-text="item.primary_cat"
                    md-min-length="0"
                    placeholder="Select a material type">
                <md-item-template>
                    <span md-highlight-text="searchText" md-highlight-flags="^i">{{item.primary_cat}}</span>
                </md-item-template>
                <md-not-found>
                    No matches found for "{{searchText}}".
                </md-not-found>
            </md-autocomplete>
            <div>{{category}}</div>
            <!--</md-content>-->
            <md-input-container>
                <md-select ng-model="selected.warmId" placeholder="subcategory">
                    <md-option ng-repeat="subcategory in category.secondaries" ng-value="subcategory.warm_id" >
                        {{subcategory.secondary_cat}}
                    </md-option>
                </md-select>
            </md-input-container>
            <md-input-container flex>
                <label>Weight</label>
                <input ng-model="calculate.weight" type="text">
            </md-input-container>

            <md-input-container flex>
                <label>Units</label>
                <input ng-model="calculate.units" type="text">
            </md-input-container>

            <md-button class="md-primary md-raised" ng-click="newCalculation()" type="submit" value="Save">Submit</md-button>

            <p>Your Estimated CO2 Savings are (123) (units)</p>

        </div>
    </md-content>
</div>