<div id="dashboard-page" layout="column" >
<!-- Beginning dashboard -->
    <md-content>
        <div>
            <h1 class="md-headline" style="display: inline;">Your projects have saved CO<sub>2</sub>:</h1><img src="images/Co2-Badge-96.png" style="display: inline;" alt="badge">
        </div>

            <h3 class="md-body-2">Manage Projects here. Click on Project or Description field to edit. Projects can also be deleted. Be careful, this is not reversible. </h3>
        <div ng-controller="projectsCtrl">
        <md-content>
            <table>

                 <tr>
                    <th>Project</th>
                    <th width="25%">Description</th>
                    <th>Total Weight</th>
                    <th>Total CO<sub>2</sub></th>
                    <th>Save | Delete</th>
                </tr>

                <tr ng-repeat="project in projects">
                    <td contentEditable="true" ng-model="placeholder.pName">project.Name {{project.name}} }</td>
                    <td contentEditable="true" ng-model="placeholder.pdesc">project.description {{project.desc}}</td>
                    <td contentEditable="true" ng-model="placeholder.totWt">12,341 kg{{weight}}{{units}}</td>
                    <td contentEditable="true" ng-model="placeholder.totC02">27.6{{CO2}}</td>
                    <td>Save | Delete (need pop up conf)</td>
                </tr>


<!--this is the viewable stuff for example, delete when we got the above list working-->
                <tr>
                    <td contentEditable="true" ng-model="placeholder.pName">1600 Penn. Ave{proj.name}</td>
                    <td contentEditable="true" ng-model="placeholder.pdesc">This project is awesome and it really helped save a lot of
                        energy{proj.desc}
                    </td>
                    <td ng-model="placeholder.totWt">4289 kg{weight}{units}</td>
                    <td ng-model="placeholder.totC02">7.2{CO2}</td>
                    <td> <md-button class="md-raised md-primary">Save</md-button><md-button class="md-raised md-warn">Delete</md-button> </td>
                </tr>
                 <tr>
                     <td contentEditable="true" ng-model="placeholder.pName">My house renovation{proj.desc}</td>
                     <td contentEditable="true" ng-model="placeholder.pdesc">This project is awesome and it really helped save a lot of
                         energy{proj.desc}
                     </td>
                     <td contentEditable="false" ng-model="placeholder.totWt">4289 kg{weight}{units}</td>
                     <td contentEditable="false" ng-model="placeholder.totC02">7.2{CO2}</td>
                     <td><img src="images/icons/ic_save_black_24px.svg" alt="Save Changes"/> | <img src="images/icons/ic_delete_black_24px.svg" alt="Save Changes"/> </td>
                 </tr>

            </table>
        </md-content>

            <div>
                <md-button class="md-raised md-accent">Create New Project</md-button>
            </div>

        </div>
    </md-content>
 </div>
