<div id="dashboard-page" layout="column" >
<!-- Beginning dashboard -->
    <md-content>
            <h1>Project Totals</h1>
        <div>
            <h2 class="md-title" style="display: inline;">Your projects have prevented XXXXXX metric tons of CO<sub>2</sub> from being released:</h2><img src="images/Co2-Badge-96.png" alt="badge" />
        </div>

        <div>
            <h3 class="md-body-2">Manage Projects here. Click on Project or Description field to edit. Projects can also be deleted. Be careful, this is not reversible. </h3>

        <md-content>

            <table class="dialog-demo-content table">

                 <tr class="th">
                    <th>Project</th>
                    <th width="25%">Description</th>
                    <th align="center">Total Weight</th>

                    <th align="center">Total CO<sub>2</sub></th>
                    <th align="center">Edit | Save | Remove</th>
                </tr>

                <tr ng-repeat="project in projects">
                    <td contentEditable="true">{{project_name}} }</td>
                    <td contentEditable="true">{{project_description}}</td>
                    <td align="center">{weight}}{{units}}</td>
                    <td align="center">{{co2_offset}}</td>
                    <td align="center"><a href="/projects"><img src="images/icons/ic_create_black_24px.svg" alt="Edit Project" /></a>| <img src="images/icons/ic_save_black_24px.svg" alt="Save Changes"/> | <img src="images/icons/ic_delete_black_24px.svg" alt="Delete Project"/> </td>
                </tr>


<!--this is the viewable stuff for example, delete when we got the above list working-->
                <tr>
                    <td contentEditable="true">1600 Penn. Ave{{project_name}}</td>
                    <td contentEditable="true">This project is awesome and it really helped save a lot of
                        energy{{project_description}}
                    </td>
                    <td align="center">4 kg</td>
                    <td align="center">.2</td>
                    <td align="center"><a href="/projects"><img src="images/icons/ic_create_black_24px.svg" alt="Edit Project" /></a> | <img src="images/icons/ic_save_black_24px.svg" alt="Save Changes"/> | <img src="images/icons/ic_delete_black_24px.svg" alt="Delete Project"/> </td>
                </tr>
                 <tr>
                     <td contentEditable="true">My house renovation{{project_name}}</td>
                     <td contentEditable="true">This project is awesome and it really helped save a lot of energy{{project_description}}
                     </td>
                     <td align="center">4289 kg</td>
                     <td align="center">7.2</td>
                     <td align="center"><a href="/projects"><img src="images/icons/ic_create_black_24px.svg" alt="Edit Project" /></a> | <img src="images/icons/ic_save_black_24px.svg" alt="Save Changes"/> | <img src="images/icons/ic_delete_black_24px.svg" alt="Delete Project" ng-click="showDelete($event)"/> </td>
                 </tr>

            </table>

        </md-content>

            <div>
                <md-button class="md-raised md-accent" ng-click="ctrl.newProject()">Create New Project</md-button>
            </div>

        </div>
    </md-content>

 </div>
