<div id="login-page" ng-controller="loginCtrl" layout-padding ng-cloak>
    <form ng-submit="login()" name="loginForm" layout="column" layout-align="space-between center" novalidate>
        <h1>Login to create projects and track savings.</h1>

        <md-input-container layout-fill >
            <label>Username</label>
            <input ng-model="form.username" type="text" required>
        </md-input-container>
        <md-input-container layout-fill >
            <label>Password</label>
            <input ng-model="form.password" type="password" required>
        </md-input-container>

        <div layout="row">
            <md-button class="md-accent md-raised" type="submit" value="Submit" ng-disabled="loginForm.$invalid">Submit</md-button>
            <md-button href="/register">Register</md-button>

        </div>
    </form>
    <md-button ng-click="resetPassword()">Forgot Password</md-button>
</div>