<div id="project-page" layout="column" layout-fill layout-margin>

    <!-- LOAD AND EDIT PROJECT INFORMATION -->
    <div layout="row" layout-align="space-between center">
        <h1 class="headline" > {{ ctrl.selected_project.project_name }}</h1>
        <h2 class="md-title">Total CO<sub>2</sub> Offset: {{ ctrl.projectTotal }} metric tons</h2>
    </div>
    <div layout="row" layout-align="space-between center">
        <h4>{{ ctrl.selected_project.project_description }}</h4>
    </div>

    <md-divider></md-divider>

    <!--ADD A PROJECT ITEM-->
    <div layout="row" layout-align="space-between center">
        <h2 class="md-body-2">Add a new item to your project:</h2>
        <md-button ng-click="ctrl.newSuggestion()">+ Suggest a new material</md-button>
    </div>

    <form name="calcForm" layout="column" layout-gt-md="row"  layout-align="space-between center" layout-fill novalidate>

        <!--Enter item description-->
        <md-input-container flex="20">
            <label>Item description</label>
            <input ng-model="ctrl.item_description" md-maxlength="255" name="description">
        </md-input-container>

        <!--Select material category from dropdown-->
        <md-autocomplete ng-disabled="ctrl.isDisabled"
                         md-selected-item="ctrl.category"
                         md-selected-item-change="ctrl.selectedItemChange(item)"
                         md-search-text="ctrl.searchText"
                         md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                         md-items="item in ctrl.querySearch(ctrl.searchText)"
                         md-item-text="item.primary_cat"
                         md-min-length="0"
                         md-floating-label="Select material type"
                         layout-fill flex="20" required>
            <md-item-template>
                <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">
                    {{item.primary_cat}}
                </span>
            </md-item-template>

            <!--Display error message-->
            <md-not-found>
                <div>
                    No material matches {{ ctrl.searchText }}
                </div>
            </md-not-found>
        </md-autocomplete>

        <!--Select secondary category-->
        <md-select ng-model="ctrl.subcategory" placeholder="Select subtype" style="padding-bottom: 6px" layout-fill flex="20">
            <md-option ng-repeat="subcategory in ctrl.category.secondaries" ng-value="subcategory">
                {{subcategory.secondary_cat}}
            </md-option>
        </md-select>

        <!--Enter weight-->
        <md-input-container flex="10">
            <label>Weight</label>
            <input ng-model="ctrl.weight" type="text" name="weight" ng-pattern="/^\d*(\.\d+)?$/" required>
            <div ng-messages="calcForm.weight.$error" role="alert">
                <div ng-message="pattern"><span>Numbers only.</span></div>
            </div>
        </md-input-container>

        <!--Enter units-->
        <md-select ng-model="ctrl.selected_unit" placeholder="Units" style="padding-bottom: 6px" layout-fill flex="10" required>
            <md-option ng-repeat="unit in ctrl.units" ng-value="unit">
                {{ unit.name }}
            </md-option>
        </md-select>

        <md-input-container flex=none>
            <md-button class="md-accent md-raised" ng-click="ctrl.newCalculation()" ng-disabled="calcForm.$invalid">Calculate</md-button>
        </md-input-container>
    </form>

    <md-divider></md-divider>
    <div flex></div>
    <!--Table display-->
    <table style="min-width: 900px; text-align: left;">

        <tr layout="row" layout-align="space-between" layout-fill layout-wrap >
            <th flex="25">Item Description</th>
            <th flex="15">Material Type</th>
            <th flex="15">Subtype</th>
            <th flex="15">Weight</th>
            <th flex="20">CO<sub>2</sub> Offset</th>
            <th flex="10" align="center">Remove</th>
        </tr>

        <!--Listing of each project item-->
        <tr ng-repeat=" item in ctrl.projectItems" layout="row" layout-align="space-between" layout-fill layout-wrap >
            <td flex="25">{{item.item_description}}</td>
            <td flex="15">{{item.category}}</td>
            <td flex="15">{{item.sub_category}}</td>
            <td flex="15">{{item.weight + " " + item.units}}</td>

            <td flex="20">{{item.co2_offset}} metric tons</td>
            <td flex="10" align="center" type="submit" ng-value="id"><img src="images/icons/ic_delete_black_24px.svg" ng-click="showDelete($event, item)" alt="Delete item"/> </td>
        </tr>
    </table>

    <div layout="row" layout-align="start end">
        <md-button class="md-accent md-raised" href="/editProject">Edit Project Info</md-button>
        <md-button class="md-accent md-raised" href="/upload">Upload CSV</md-button>
        <md-button class="md-accent md-raised" ng-click="ctrl.downloadProject()">Download Project</md-button>
    </div>
</div>