<div id="project-page">
    <h1>Project Summary</h1>

    <md-content>
        <div layout="column">
            <br>
            <!-- Autocomplete -->
            <h2 class="md-title">Project Name</h2>
            <md-autocomplete
                    ng-disabled="ctrl.isDisabled"
                    md-selected-item="ctrl.selected_project"
                    md-selected-item-change="ctrl.selectedItemChange(item)"
                    md-search-text="ctrl.searchText"
                    md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                    md-items="item in ctrl.querySearch(ctrl.searchText)"
                    md-item-text="item.project_name"
                    md-min-length="0"
                    md-floating-label="Select Project Name"                           layout-fill >
                <md-item-template>
                    <span md-highlight-text="ctrl.searchText" md-highlight-flags="^i">
                        {{item.project_name}}
                    </span>
                </md-item-template>
                <md-not-found>
                    <div>
                        No matches found for {{ctrl.searchText}}
                    </div>
                </md-not-found>
            </md-autocomplete>
            <md-content>
                <h2  class="md-title">Project Description </h2>
                <p>{{ctrl.selected_project.project_description}}</p>
            </md-content>
            <md-divider ng-if="!$last"></md-divider>
        </div>
    </md-content>
    <md-content>
        <br>
        <table class="dialog-demo-content" style="min-width: 1000px; text-align: left;">
            <!--<tr layout="row" layout-fill layout-wrap >-->
            <!--<th>Item Description</th>-->
            <!--</tr>-->
            <tr layout="row" layout-fill layout-wrap >
                <th flex="25">Item Description</th>
                <th flex="10">Category</th>
                <th flex="10">Sub-Category</th>
                <th flex="10">Weight</th>
                <th flex="10">Units</th>
                <th flex="10">CO<sub>2</sub> Offset</th>
                <th flex="25"></th>
            </tr>

            <tr layout="row" ng-repeat=" item in ctrl.projectItems" layout-wrap >
                <td contentEditable="false" flex="25">{{item.item_description}}</td>
                <td contentEditable="false" flex="10">{{item.category}}</td>
                <td contentEditable="false" flex="10">{{item.sub_category}}</td>
                <td contentEditable="false" flex="10">{{item.weight}}</td>
                <td contentEditable="false" flex="10">{{item.units}}</td>
                <td flex="10">{{item.co2_offset}} metric tons</td>
                <td flex="25" style="text-align: left;" type="submit" ng-value="id" ><a href="/projects"><img src="images/icons/ic_create_black_24px.svg" alt="Edit item" /></a> | <img src="images/icons/ic_save_black_24px.svg" ng-click="contentEditable = true"  alt="Save Changes"/> | <img src="images/icons/ic_delete_black_24px.svg" ng-click="showDelete($event, ctrl.selected_project.id)" alt="Delete item" /> </td>
            </tr>
        </table>
        <div>
            <br>
            <md-divider ng-if="!$last"></md-divider>
            <section layout="row" layout-align="center right">
                <md-button class="md-accent md-raised" ng-click="ctrl.calculateProjectTotal()" style="background-color: #0288d1;">Calculate Total</md-button>
            </section>
            <section layout="row" layout-align="right">
                <p ng-show="ctrl.projectTotal">Your Total Estimated CO<sub>2</sub> Offset is {{ctrl.projectTotal}} metric tons</p>
            </section>
        </div>
    </md-content>
</div>