<md-content layout="column" layout-padding layout-margin layout-align="space-between center">
    <h1>
        CREATE A PROJECT
    </h1>
    <p>
        Projects allow you to save multiple material calculations,<br>
        write descriptions, and keep track of things over time.<br>
        As available information gets updated, we'll let you<br>
        know if any calculations change.
    </p>
    <md-input-container layout-fill flex>
        <label>Project Name</label>
        <input ng-model="ctrl.projectSubmission.project_name" type="text">
    </md-input-container>
    <md-input-container layout-fill flex>
        <label>Description</label>
        <textarea ng-model="ctrl.projectSubmission.project_description" ng-pattern="('^[0-9a-zA-Z .-]+$')" md-maxlength="255"></textarea>
    </md-input-container>
    <div class="md-actions">
        <md-button ng-click="ctrl.createProject()" class="md-primary">
            Submit
        </md-button>
    </div>
</md-content>