<div id="sources-page" layout-padding>
    <md-content>
        <div layout="column">
            <h1>Sources</h1>
            <br>
            <!-- List of Sources -->
            <h3>US Environmental Protection Agency, <a href="http://www3.epa.gov/epawaste/conserve/tools/warm/pdfs/Background_Overview.pdf">WARM Version 13, March, 2015.</a></h3>

            <h3><a href="https://ccny-cuny.academia.edu/DennyHalim">Estimation of Global GHG Emission from E-Waste with Recycle and Reuse Scenario,</a> Denny Halim, March 27, 2014.</h3>
            </div>
    </md-content>
</div>