<div>
    <h1>
        HELLO!
    </h1>
    <md-input-container flex>
        <label>Email</label>
        <input ng-model="ctrl.submission.email" type="text">
    </md-input-container>
    <md-input-container flex>
        <label>Material</label>
        <input ng-init="" ng-model="ctrl.submission.material" type="text">
    </md-input-container>
    <md-input-container flex>

        <label>Comment</label>
        <input ng-model="ctrl.submission.notes" type="text">
    </md-input-container>
    <div class="md-actions">
        <md-button ng-click="ctrl.submitSuggestion()" class="md-primary">
               Submit
        </md-button>
    </div>
</div>