<md-content layout="column" layout-padding layout-margin layout-align="space-between center">
    <h1>
        UPLOAD A CSV
    </h1>

    <form name="uploadForm" layout-fill flex layout="column" layout-align="center center" novalidate>
        <div layout-fill flex>
            <h4 class="title">Select your CSV file: </h4>
            <ng-csv-import
                    class="import"
                    content="csv.content"
                    header="csv.header"
                    header-visible="csv.headerVisible"
                    separator="csv.separator"
                    separator-visible="csv.separatorVisible"
                    result="csv.result"
                    encoding="csv.encoding"
                    encoding-visible="csv.encodingVisible"></ng-csv-import>
        </div>
    </form>

    <md-button type="submit" class="md-accent md-raised" ng-click="ctrl.submitCSV()">
        Upload
    </md-button>

</md-content>