extends layout

block content
  div(layout="column" ng-cloak)
    section(layout="row" style="height: 100vh" ng-controller="navCtrl")
      md-sidenav(id="sidenav" class="md-sidenav-left md-whiteframe-z2 md-closed" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" flex)
        md-toolbar.md-primary.md-hue-4(layout-fill flex)
          header.sidenav-header
            img(src="/images/ECOTONE_emailSIG.png" alt="ECOTONE")
          ul.side-nav
            li
              h3(ng-show="user.username") Hello, {{user.first_name}}!
            li
              md-button( href="/calculator") Calculator
            li
              md-button( href="/login" ng-hide="user.username") Login
            li
              md-button( href="/dashboard" ng-show="user.username") My Dashboard
            li
              md-button( href="/account" ng-show="user.username") My Account
            li
              md-button( href="/calculator" ng-click="logout()" ng-show="user.username") Logout
            li
              md-button( href="/admin") ADMIN

      md-content(layout="column" layout-fill)
        md-toolbar.md-primary.md-hue-4(id="mobilenav" hide-gt-md)
          div.md-toolbar-tools(layout-align="space-around center")
            md-button(href="/calculator") Calculator
            md-button(href="/login" ng-hide="user.username") Login
            md-button(href="/dashboard" ng-show="user.username") My Dashboard
            md-button(href="/account" ng-show="user.username") My Account
            md-button(href="/calculator" ng-click="logout()" ng-show="user.username") Logout
        md-content(id="content" layout="column" layout-align="start center" flex)
          <!-- ng-view will display injected content -->
          div.view(ng-view)
          div(flex="grow")
        footer(id="footer")
          div(layout="row" layout-padding layout-align="space-between")
            div
              md-button(md-no-ink href="www.ecotone-partners.com") &copy; 2015 Ecotone-Partners
            div
              md-button(md-no-ink href="/sources") Sources
              md-button(md-no-ink href="//www.iubenda.com/privacy-policy/759345" title="Privacy Policy") Privacy Policy