extends layout

block content
  div(layout="row")
    md-sidenav(id="sidenav" class="md-sidenav-left md-primary md-whiteframe-z2 md-closed md-locked-open" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" flex)
      header.sidenav-header
        img(src="/images/ECOTONE_logo.gif" alt="ECOTONE")
      md-toolbar.md-primary(layout="column" style="height:600px" flex)
        ul
          li
            md-button.md-primary(md-no-ink href="/calculator") Calculator
          li
            md-button.md-primary(md-no-ink href="/dashboard") My Dashboard
          li
            md-button.md-primary(md-no-ink href="/projects") My Projects
          li
            md-button.md-primary(md-no-ink href="/account") My Account
          li
            md-button.md-primary(md-no-ink href="/login") Login
          li
            md-button.md-primary(md-no-ink href="/calculator" ng-click="logout()") Logout
          li
            md-button.md-primary(md-no-ink href="/about") About
          li
            md-button.md-primary(md-no-ink href="/contact") Contact

    div(layout="column")
      md-content(layout-padding layout-align="center center")
        span(flex)
        //#main(layout="column" layout-align="center center" layout-padding)
        <!-- ng-view will display injected content -->
        div(ng-view)

      md-content(class="footer" layout-fill layout-align="end end")
          ul
            li
              span(flex)
            li
              md-button(md-no-ink href="/sources") Sources
            li
              md-button(md-no-ink href="/privacy") Privacy
            li
              p(id="copyright") &copy; 2015 Ecotone-Partners

