extends layout

block content
  div(layout="column" ng-cloak)
    section(layout="row" style="height: 100vh" ng-controller="navCtrl")
      md-sidenav(id="sidenav" class="md-sidenav-left md-primary md-whiteframe-z2 md-closed" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" flex)
        header.sidenav-header
          img(src="/images/ECOTONE_logo.gif" alt="ECOTONE")
        md-toolbar.md-primary(layout-fill flex)
          ul
            li
              md-button.md-primary(md-no-ink href="http://ecotone-partners.com/") Learn About Ecotone
            li
              md-button.md-primary(md-no-ink href="/calculator") Calculator
            li
              md-button.md-primary(md-no-ink href="/login" ng-hide="user.username") Login
            li
              md-button.md-primary(md-no-ink href="/dashboard" ng-show="user.username") My Dashboard
            li
              md-button.md-primary(md-no-ink href="/projects" ng-show="user.username") My Projects
            li
              md-button.md-primary(md-no-ink href="/account" ng-show="user.username") My Account
            li
              md-button.md-primary(md-no-ink href="/calculator" ng-click="logout()" ng-show="user.username") Logout
            li
              md-button.md-primary(md-no-ink href="/admin") ADMIN

      md-content(layout="column" layout-fill)
        md-toolbar(id="hello" md-scroll-shrink ng-if="true")
          div.md-toolbar-tools(style="background-color: white")
            h1(ng-show="user.username") Hello, {{user.firstName}}!
        md-content(id="content" layout="column" layout-fill layout-padding layout-margin layout-align="start center" flex)
          <!-- ng-view will display injected content -->
          div(ng-view)

          div(id="footer" layout="row" layout-fill layout-align="end end")
            ul
              li
                span(flex)
              li
                md-button(md-no-ink href="/sources") Sources
              li
                md-button(md-no-ink href="//www.iubenda.com/privacy-policy/759345" title="Privacy Policy") Privacy Policy
              li
                p(id="copyright") &copy; 2015 Ecotone-Partners