extends layout

block content
  div(layout="row")
    md-sidenav(id="sidenav" class="md-sidenav-left md-primary md-whiteframe-z2 md-closed ng-isolate-scope md-locked-open" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')" flex)
      header.sidenav-header
        img(src="/images/ECOTONE_logo.gif" alt="ECOTONE")
      md-toolbar.md-primary(layout="column" style="height:600px" flex)
        ul
          li
            md-button.md-primary(md-no-ink href="/calculator") Calculator
          li
            md-button.md-primary(md-no-ink href="/dashboard") My Dashboard
          li
            md-button.md-primary(md-no-ink href="/projects") My Projects
          li
            md-button.md-primary(md-no-ink href="/login") Login
          li
            md-button.md-primary(md-no-ink href="/calculator" ng-click="logout()") Logout


      //old front-end
        div(class="md-primary md-toolbar-tools")
          span
            img(src="/images/ECOTONE_logo.gif" alt="ECOTONE")
          span(flex)
          p Hello, {{user}}!
          md-button.md-primary(md-no-ink href="/calculator") Calculator
          md-button.md-primary(md-no-ink href="/dashboard") My Dashboard
          md-button.md-primary(md-no-ink href="/projects") My Projects
          md-button.md-primary(md-no-ink href="/login") Login
          md-button.md-primary(md-no-ink href="/calculator" ng-click="logout()") Logout

    md-content(layout-padding layout-align="center center")
      span(flex)
      //#main(layout="column" layout-align="center center" layout-padding)
      <!-- ng-view will display injected content -->
      div(ng-view)
      span(flex)

  //footer
  //  md-toolbar
  //    div(class="md-toolbar-tools")
  //      span
  //        p(id="copyright") &copy; 2015 Ecotone-Partners
  //      span(flex)
  //      md-button.md-primary(md-no-ink href="/about") About
  //      md-button.md-primary(md-no-ink href="/contact") Contact
  //      md-button.md-primary(md-no-ink href="/privacy") Privacy


