doctype html
html(lang="en" ng-app="ecotoneApp")
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.9.4/angular-material.min.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=RobotoDraft:300,400,500,700,400italic")
    link(rel="stylesheet" href="/stylesheets/style.css")

    script(type="text/javascript" src="./scripts/angular/angular.min.js")
    script(type="text/javascript" src="./scripts/angular/angular-route.min.js")
    script(type="text/javascript" src="./scripts/angular/angular-material.min.js")
    script(type="text/javascript" src="./scripts/angular/angular-animate.min.js")
    script(type="text/javascript" src="./scripts/angular/angular-aria.min.js")
    script(type="text/javascript" src="./scripts/angular/angular-messages.min.js")
    script(type="text/javascript" src="./scripts/app.js")

    meta(name="viewport" content="initial-scale=1")
    base(href='/')

  body
    header(layout="column" layout-fill)
      md-toolbar
        div(class="md-primary md-toolbar-tools")
          span
            img(src="/images/ECOTONE_logo.gif" alt="ECOTONE")
          span(flex)
          p Hello, {{user}}!
          md-button.md-primary.md-raised(href="/calculator") Calculator
          md-button.md-primary.md-raised(href="/dashboard") My Dashboard
          md-button.md-primary.md-raised(href="/login") Login
          md-button.md-primary.md-raised(href="/calculator" ng-click="logOut()") Logout

    block content

    footer
      md-toolbar
        div(class="md-toolbar-tools")
          span
            p(id="copyright") &copy; 2015 Ecotone-Partners
          span(flex)
          md-button.md-primary.md-raised(href="/about") About
          md-button.md-primary.md-raised(href="/contact") Contact
          md-button.md-primary.md-raised(href="/privacy") Privacy