extends layout

div(class="content-layout" id="reset-page" layout="column" ng-controller="resetCtrl" ng-cloak)
   h1 Reset Your Password
   form(name="resetForm")
      md-input-container(flex)
         label Enter New Password
         input(ng-model="form.password" type="password" name="password" ng-pattern="/(?=.*[0-9]){8,}/" required)
         div(ng-messages="resetForm.password.$error" role="alert")
            div(ng-message="pattern") Minimum of 8 characters with at least one number.

      md-input-container(flex)
         label Confirm New Password
         input(ng-model="form.confirmPassword" type="password" data-match="resetForm.password"  name="confirmPassword" required)
         div(ng-messages="resetForm.confirmPassword.$error" role="alert")
            div(ng-message="match") Passwords do not match!

      md-button(class="md-accent md-raised" type="submit" value="Submit" ng-disabled="resetForm.$invalid") Reset password