.md-toolbar-tools span.ng-scope {
  color: white; }

md-sidenav .sidenav-header {
  margin: 20px auto; }

md-sidenav .side-nav h3 {
  color: white; }

md-sidenav .side-nav li span {
  float: left;
  color: white; }

md-sidenav .side-nav li .md-button {
  margin: 0;
  padding: 0; }

@media (min-width: 600px) {
  #content {
    margin-top: 50px; } }

button.md-primary span {
  color: white; }

.md-primary.md-button.md-default-theme.md-ink-ripple.ng-transclude.ng-click {
  background-color: #546E7A; }

button.md-accent span {
  color: white; }

.md-actions .md-button.md-default-theme.md-ink-ripple:first-child {
  background-color: #546E7A; }

.md-actions .md-button.md-default-theme.md-ink-ripple {
  background-color: orange; }

md-autocomplete {
  background-color: white; }

#login-page #submit-buttons a {
  vertical-align: middle; }

#createProject-page .createProjectForm {
  width: 350px; }
