.sidenav-header {
  margin: 10px auto; }

header md-toolbar {
  height: 100px; }

.md-toolbar-tools h1 {
  font-size: inherit;
  font-weight: inherit;
  margin: inherit; }

button.md-primary span {
  color: white; }

md-autocomplete {
  background-color: white; }

#dashboard-page #project-page {
  /*need to figure out how to use flex!!!! so the table items shrink down instead of go on another*/ }
  #dashboard-page #project-page h2 {
    padding-left: 20px;
    margin-top: 35px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: inherit;
    font-weight: inherit; }
  #dashboard-page #project-page h3 {
    margin-left: 50px;
    margin-right: 50px;
    font-size: inherit;
    font-weight: inherit; }
  #dashboard-page #project-page sup, #dashboard-page #project-page sub {
    line-height: 0; }
  #dashboard-page #project-page .md-subhead {
    text-align: right; }
  #dashboard-page #project-page .md-body-2 {
    margin-right: 50px; }
  #dashboard-page #project-page p {
    margin-right: 25%; }
  #dashboard-page #project-page .flex-container {
    -webkit-flex-wrap: nowrap;
    /* Safari */
    flex-wrap: nowrap; }
  #dashboard-page #project-page .li_header {
    display: inline-block;
    width: 20%;
    float: none;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    /*align-items: center;*/
    font-size: 16px;
    font-weight: bold;
    padding: 15px;
    margin-top: 5px; }
  #dashboard-page #project-page .heading {
    display: inline-block;
    /*  width: 20%;*/
    float: none;
    background-color: #4CAF50;
    color: white;
    text-align: center;
    /*align-items: center;*/
    font-size: 16px;
    font-weight: bold;
    padding: 5px;
    margin-top: 5px; }
  #dashboard-page #project-page table {
    margin-left: 50px; }
